* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #131627;
    color: #e8ebf0;
}

.main {
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 25px;
}

.baner {
    width: 150px;
    height: 400px;
    margin: 15px;
}

.baner button {
    width: 150px;
    height: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}


.genero h3 {
    
}

.genero p {
}

.ano {
    display: flex;
    align-items: center;
}

.criador {
}

.criador p {
    width: 30px;
}

.epsodios {
    display: flex;
    align-items: center;
}

#aparecer,
#aparecer1,
#aparecer14,
#aparecer3,
#aparecer4,
#aparecer5,
#aparecer6,
#aparecer7,
#aparecer8,
#aparecer9,
#aparecer10,
#aparecer11,
#aparecer12 {
    display: none;
}